<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "jdr.jzap"
        versionCode = "10"
        version     = "1.1.0">

    <name>JZAP</name>
    <description>Radios on tap</description>
    <author email="jotadeerre@gmail.com">Jon Diez</author>
    <platform name="android" />

    <icon src="images/icon.png" />

    <!--<gap:plugin name="org.apache.cordova.media" />-->
    <gap:plugin name="cordova-plugin-media" />

</widget>
